<nav class="drawer-side">
  <label for="my-drawer-3" class="drawer-overlay"></label>
  <ul class="menu p-4 w-80 bg-neutral">
    <li><a class="text-xl text-white hover:text-primary">Home</a></li>
    <li><a class="text-xl text-white hover:text-primary">Blog</a></li>
    <li><a class="text-xl text-white hover:text-primary">Solutions</a></li>
  </ul>
</nav>
