---
---

<div class="bg-black py-40 px-5">
  <div class="flex flex-col justify-start lg:flex-row lg:justify-around">
    <h1 class="text-white text-2xl font-semibold lg:text-4xl">
      Feature Projects
    </h1>
    <p class="text-secondary font-semibold mt-2 lg:m-4 lg:text-lg lg:w-2/5">
      Explore Our Projects: We take pride in our work and are passionate about
      creating innovative solutions for our clients. Check out our latest
      projects and discover how we've helped businesses like yours achieve their
      goals through our expertise in IT solutions
    </p>
  </div>
</div>
