<footer class="footer footer-center p-10 bg-black">
  <div>
    <p class="text-bold text-white text-2xl animate-bounce">wolffo.dev</p>
    <p class="font-semibold text-white">Innovate. Transform. Succeed.</p>
    <p class="text-white mt-2 text-xs">Copyright © 2023 - All right reserved</p>
  </div>
</footer>
