---
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import MobileHero from "../../images/MobileHero.png";
import hero_img from "../../assets/images/hero_img.png";
import NavBar from "./NavBar.astro";
import SideDrawerMenu from "./SideDrawerMenu.astro";
---

<div class="drawer h-full">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <NavBar />
    <div class="mx-5 my-10 lg:mx-12">
      <h1 class="text-4xl font-bold lg:text-6xl">
        TRANSFORMING BUSINESSES WITH <span
          class="text-4xl font-bold text-primary lg:text-6xl">TECHNOLOGY.</span
        >
      </h1>
      <p class="text-secondary mt-2 lg:text-2xl">
        Unlock the power of I.T for your business! We offer innovative solutions
        tailored to your needs, so you can focus on what you do best.
      </p>

      <div class="flex items-center my-10">
        <Image
          src={hero_img}
          width="800"
          alt={"two guys talking in front of a compute"}
        />
        <!-- <img
          src={hero_img}
          width={1200}
          height={650}
          alt="A rocketship in space."
        /> -->
        <!-- <img
          src="../../images/hero_img.png"
          width={1200}
          height={650}
          alt="two guys talking in front of a computer"
        /> -->
        <!-- <Image
          alt="Hero image desktop"
          class="hidden lg:block"
          width={1200}
          height={650}
          src={Hero}
        />
        <Image
          class="block lg:hidden"
          alt="two guys talking in front o f a computer"
          height={370}
          width={390}
          src={MobileHero}
        /> -->
        <div class="flex flex-col items-start pt-7 lg:pt-20">
          <div class="flex items-center justify-center my-3 lg:my-7">
            <Icon name="itsolutions" class="w-20 mx-4 lg:w-40" />
            <div class="flex flex-col">
              <h4 class="text-neutral font-semibold lg:text-2xl">
                I.T Solutions
              </h4>
              <p class="hidden lg:block text-secondary text-xl text-justify">
                At duI.T., we offer tailored solutions to help your business
                thrive. We work with you to find the best technology that suits
                your unique needs, ensuring an easy and efficient experience
                that maximizes your potential.
              </p>
            </div>
          </div>
          <div class="flex items-center justify-center my-3 lg:my-7">
            <Icon name="uidesign" class="w-20 mx-4 lg:w-40" />
            <div class="flex flex-col">
              <h4 class="text-neutral font-semibold lg:text-2xl">
                Ui/Ux Design
              </h4>
              <p class="hidden lg:block text-secondary text-xl text-justify">
                We create beautiful and intuitive user interfaces that elevate
                your brand and user experience. From wire-frames to prototypes,
                we craft unique and engaging designs that are both functional
                and visually stunning.
              </p>
            </div>
          </div>

          <div class="flex items-center justify-center my-3 lg:my-7">
            <Icon
              width={130}
              name="development"
              class="mx-4 lg:block sm:hidden"
            />
            <Icon width={80} name="development" class="mx-4 lg:hidden" />
            <div class="flex flex-col">
              <h4 class="text-neutral font-semibold lg:text-2xl">
                Development
              </h4>
              <p class="hidden lg:block text-secondary text-xl text-justify">
                Let’s bring your ideas to life with our cutting-edge development
                services, we create scalable and reliable web solutions that
                will help your business grow and succeed.
              </p>
            </div>
          </div>

          <div class="flex items-center justify-center my-3 lg:my-7">
            <Icon width={130} name="seo" class="mx-4 lg:block sm:hidden" />
            <Icon width={80} name="seo" class="mx-4 lg:hidden" />
            <div class="flex flex-col">
              <h4 class="text-neutral font-semibold lg:text-2xl">SEO</h4>
              <p class="hidden lg:block text-secondary text-xl text-justify">
                Drive traffic and boost your online presence with our SEO
                services. Optimize your website to rank higher in search
                engines, increasing visibility and driving conversions.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex items-center justify-between my-16 p-5 border-4 border-neutral-900 rounded-lg lg:justify-center lg:my-32"
      >
        <p class="text-neutral font-semibold text-xl lg:mr-10 lg:text-2xl">
          Ready to transform your business? <br class="lg:hidden" />Contact us
          today and let's bring your ideas to life.
        </p>
        <label for="my-modal-6" class="btn lg:btn-lg btn-primary text-white"
          >Let's Talk</label
        >
      </div>
      <!-- The button to open modal -->
    </div>
  </div>
  <SideDrawerMenu />
</div>
