---
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import MobileHero from "../../assets/images/MobileHero.png";
import hero_img from "../../assets/images/hero_img.png";
import NavBar from "./NavBar.astro";
import SideDrawerMenu from "./SideDrawerMenu.astro";
---

<div>
  <NavBar />
  <div class="mx-5 my-10 lg:mx-12">
    <h1 class="text-4xl font-bold lg:text-6xl">
      TRANSFORMING BUSINESSES WITH <span
        class="text-4xl font-bold text-primary lg:text-6xl">TECHNOLOGY.</span
      >
    </h1>
    <p class="text-justify text-secondary mt-2 lg:text-2xl">
      Unlock the power of I.T for your business! We offer innovative solutions
      tailored to your needs, so you can focus on what you do best.
    </p>

    <div class="flex items-start my-4">
      <Image
        src={hero_img}
        width="800"
        alt={"two guys talking in front of a compute"}
        class="hidden lg:block"
      />
      <Image
        src={MobileHero}
        width="180"
        alt="two guys talking in front o f a computer"
        class="block mt-2 rounded-lg lg:hidden"
      />

      <div class="flex flex-col items-start mt-2 lg:mt-10">
        <div class="flex items-center justify-center py-2 lg:py-4">
          <Icon name="itsolutions" width={50} class="mx-2 lg:w-40" />
          <div class="flex flex-col">
            <p class="text-neutral font-semibold text-sm lg:text-xl">
              I.T Solutions
            </p>
            <p class="hidden lg:block text-secondary text-md text-justify">
              At duI.T., we offer tailored solutions to help your business
              thrive. We work with you to find the best technology that suits
              your unique needs, ensuring an easy and efficient experience that
              maximizes your potential.
            </p>
          </div>
        </div>

        <div class="flex items-center justify-center py-2 lg:py-4">
          <Icon name="uidesign" width={50} class="mx-2 lg:w-40" />
          <div class="flex flex-col">
            <p class="text-neutral font-semibold text-sm lg:text-xl">
              Ui/Ux Design
            </p>
            <p class="hidden lg:block text-secondary text-md text-justify">
              We create beautiful and intuitive user interfaces that elevate
              your brand and user experience. From wire-frames to prototypes, we
              craft unique and engaging designs that are both functional and
              visually stunning.
            </p>
          </div>
        </div>

        <div class="flex items-center justify-center py-2 lg:py-4">
          <Icon width={130} name="development" class="mx-2 hidden lg:block" />
          <Icon width={50} name="development" class="mx-2 lg:hidden" />
          <div class="flex flex-col">
            <p class="text-neutral font-semibold text-sm lg:text-xl">
              Development
            </p>
            <p class="hidden lg:block text-secondary text-md text-justify">
              Let’s bring your ideas to life with our cutting-edge development
              services, we create scalable and reliable web solutions that will
              help your business grow and succeed.
            </p>
          </div>
        </div>

        <div class="flex items-center justify-center py-2 lg:py-4">
          <Icon width={130} name="seo" class="mx-2 hidden lg:block" />
          <Icon width={50} name="seo" class="mx-2 lg:hidden" />
          <div class="flex flex-col">
            <p class="text-neutral font-semibold text-sm lg:text-xl">SEO</p>
            <p class="hidden lg:block text-secondary text-md text-justify">
              Drive traffic and boost your online presence with our SEO
              services. Optimize your website to rank higher in search engines,
              increasing visibility and driving conversions.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col lg:flex-row items-center justify-between my-8 lg:my-12 p-3 border-2 border-neutral-900 rounded-lg lg:justify-center"
    >
      <p
        class="text-neutral font-semibold text-center lg:text-justify text-md lg:text-xl lg:mr-10"
      >
        Ready to transform your business? <br class="lg:hidden" />Contact us
        today and let's bring your ideas to life.
      </p>
      <button
        class="btn btn-primary text-white mt-4 lg:mt-0"
        onclick="my_modal_5.showModal()">Let's Talk</button
      >
    </div>
  </div>
</div>
