---
import { Icon } from "astro-icon";
---

<div class="w-full navbar lg:my-4">
  <div class="flex-1 px-2 mx-2 lg:ml-8">
    <Icon name="logo" width={70} class="cursor-pointer" />
  </div>
  <div class="flex-none lg:hidden">
    <label for="my-drawer-3" class="btn btn-square btn-ghost">
      <Icon name="ic:round-menu" width={30} />
    </label>
  </div>

  <nav class="flex-none hidden lg:block">
    <ul class="menu menu-horizontal">
      <!-- Navbar menu content here -->
      <li>
        <a href="/" class="text-md mx-5 hover:text-primary bg-white">Home</a>
      </li>
      <li>
        <a href="/comingsoon/" class="text-md mx-5 hover:text-primary bg-white"
          >Blog</a
        >
      </li>
      <li>
        <a href="#projects" class="text-md mx-5 hover:text-primary bg-white"
          >Projects</a
        >
      </li>
    </ul>
  </nav>
</div>
