---
import { Icon } from "astro-icon";
---

<div class="navbar bg-base-100 p-6 lg:p-10 lg:px-14">
  <Icon name="logo" width={100} class="cursor-pointer" />
  <div class="navbar-end flex-1">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <Icon name="menu" width={25} class="cursor-pointer" />
      </label>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 p-2 shadow-lg bg-base-100 rounded-box w-52"
      >
        <li>
          <a class="text-black hover:text-primary" href="/">Home</a>
        </li>
        <li>
          <a class="text-black hover:text-primary mt-2" href="/comingsoon/"
            >Blog</a
          >
        </li>
        <li>
          <a class="text-black hover:text-primary mt-2" href="#projects"
            >Projects</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a class="text-black hover:text-primary" href="/">Home</a>
      </li>
      <li>
        <a class="text-black hover:text-primary" href="/comingsoon/">Blog</a>
      </li>
      <li>
        <a class="text-black hover:text-primary" href="#projects">Projects</a>
      </li>
    </ul>
  </div>
</div>
