---
import Button from "../components/Button.astro";
import NavBar from "../components/NavBar.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="duI.T.">
	<NavBar/>	
	<!-- <div class="font-montserrat font-bold grid place-items-center h-screen content-center">Let's duIT</div> -->
</MainLayout>

