---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Cheers!">
  <div
    class="relative h-screen w-full flex flex-col items-center justify-center bg-cover bg-center text-center px-20 bg-black"
  >
    <div class="w-20">
      <svg
        id="Icons"
        style="enable-background:new 0 0 32 32;"
        version="1.1"
        viewBox="0 0 32 32"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        ><style type="text/css">
          .st0 {
            fill: none;
            stroke: #ffffff;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
          }
          .st1 {
            fill: none;
            stroke: #ffffff;
            stroke-width: 2;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
          }
        </style><polyline class="st0" points="11,12 21,18 31,12 "
        ></polyline><line class="st0" x1="4" x2="11" y1="12" y2="12"
        ></line><line class="st0" x1="1" x2="12" y1="16" y2="16"></line><line
          class="st0"
          x1="4"
          x2="11"
          y1="20"
          y2="20"></line><path
          class="st0"
          d="M11,12v-1c0-2.2,1.8-4,4-4h12c2.2,0,4,1.8,4,4v10c0,2.2-1.8,4-4,4H15c-2.2,0-4-1.8-4-4v-1"
        ></path></svg
      >
    </div>

    <p class="text-white text-xl">Thank you for contacting us!</p>
    <p class="text-secondary font-semibold text-lg mt-2">
      We have received your message and will be in touch soon.
    </p>
    <a href="/" class="btn btn-primary w-40 mt-12">Let's duI.T.</a>
  </div>
</MainLayout>
