<input type="checkbox" id="my-modal-6" class="modal-toggle" />
<div class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h1 class="text-lg font-semibold">Say Hello!</h1>
    <label
      for="my-modal-6"
      class="btn btn-sm btn-circle btn-outline btn-secondary absolute right-2 top-2"
      >✕</label
    >
    <div class="form-control">
      <label class="label">
        <span class="label-text font-semibold">Name</span>
      </label>
      <input type="text" class="input input-bordered" />
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text font-semibold">Email</span>
      </label>
      <input type="text" class="input input-bordered" />
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text font-semibold">Message</span>
      </label>

      <textarea class="textarea textarea-bordered"></textarea>
    </div>
    <div class="modal-action">
      <label for="my-modal-6" class="btn btn-primary text-white">Send</label>
    </div>
  </div>
</div>

<input type="checkbox" id="my-modal-4" class="modal-toggle" />
<label for="my-modal-4" class="modal cursor-pointer">
  <label class="modal-box relative" for="">
    <h3 class="text-lg font-bold">Congratulations random Internet user!</h3>
    <p class="py-4">
      You've been selected for a chance to get one year of subscription to use
      Wikipedia for free!
    </p>
  </label>
</label>
