<!-- <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
  <form method="dialog" class="modal-box" method="POST" netlify>
    <input
      type="hidden"
      name="subject"
      value="Contact from duitsolutions.netlify.app"
    />
    <button
      for="my-modal-5"
      class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button
    >
    <h3 class="font-bold text-lg">Say Hello!</h3>
    <div class="form-control">
      <label class="label">
        <span class="label-text font-semibold">Name</span>
      </label>
      <input
        type="text"
        name="name"
        aria-label="name"
        class="input input-bordered"
      />
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text font-semibold">Email</span>
      </label>
      <input
        type="email"
        name="email"
        aria-label="email"
        class="input input-bordered"
      />
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text font-semibold">Message</span>
      </label>

      <textarea
        aria-label="message"
        name="message"
        class="textarea textarea-bordered"></textarea>
    </div>
    <div class="modal-action">
      <button type="submit" for="my-modal-5" class="btn btn-primary text-white"
        >Send</button
      >
    </div>
  </form>
</dialog> -->
<div class="feedback-form">
  <form
    netlify
    netlify-honeypot
    name="feedback"
    method="POST"
    action="/success"
  >
    <p class="hidden">
      <label>
        Don’t fill this out if you’re human: <input name="bot-field" />
      </label>
    </p>
    <input type="hidden" name="form-name" value="feedback" />
    <label for="name">Name</label>
    <input id="name" type="text" name="name" />
    <label for="email">Email</label>
    <input id="email" type="email" name="email" required />
    <label for="feedback">What is your feedback?</label>
    <textarea id="feedback" wrap="soft" name="feedback" required></textarea>
    <button type="submit">Submit</button>
  </form>
</div>

<style>
  .feedback-form {
    margin: 40px 40px;
    min-width: 250px;
    width: 45%;
  }
  input,
  textarea,
  button {
    font-size: inherit;
    margin: 15px 0;
    padding: 12px 20px;
    width: 100%;
  }
  button {
    background-color: teal;
    border: 1px solid black;
    color: white;
    width: 50%;
  }
  .hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>
