<!-- <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
  <form method="dialog" class="modal-box" method="POST" netlify>
    <input
      type="hidden"
      name="subject"
      value="Contact from duitsolutions.netlify.app"
    />
    <button
      for="my-modal-5"
      class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button
    >
    <h3 class="font-bold text-lg">Say Hello!</h3>
    <div class="form-control">
      <label class="label">
        <span class="label-text font-semibold">Name</span>
      </label>
      <input
        type="text"
        name="name"
        aria-label="name"
        class="input input-bordered"
      />
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text font-semibold">Email</span>
      </label>
      <input
        type="email"
        name="email"
        aria-label="email"
        class="input input-bordered"
      />
    </div>
    <div class="form-control">
      <label class="label">
        <span class="label-text font-semibold">Message</span>
      </label>

      <textarea
        aria-label="message"
        name="message"
        class="textarea textarea-bordered"></textarea>
    </div>
    <div class="modal-action">
      <button type="submit" for="my-modal-5" class="btn btn-primary text-white"
        >Send</button
      >
    </div>
  </form>
</dialog> -->
